# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Compiled files
*.out
*.class
*.o

# System files
.DS_Store
Thumbs.db

# Temporary files and backups
*.tmp
*.swp
*.swo
*.bak
*.orig

# IDE specific files
.vscode/
.idea/
*.code-workspace

# Other ignored directories
dist/
build/

# Images or media files - if you want to ignore them in the repository
# Uncomment if you don’t want to track images and audio files in Git
# Images/*
# Music/*

# Ignoring specific files in Images and Music folders (optional)
Images/*.psd
Images/*.tiff
Music/*.wav
Music/*.flac

# Exclude the uploaded images/music files if desired
# !Images/musicart.png
# !Music/Riptide - Vance Joy.mp3
